* {
  text-decoration: none;
}

html,
body {
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label::after {
  content: ":";
}

ul#bucket-list {
  list-style-type: none;
  padding-left: 0;
}

li.bucket-list-item {
  padding: 0.25em;
}

li.bucket-list-item.completed {
  text-decoration-line: line-through;
  text-decoration-color: #00b300;
}

button.delete {
  border: none;
  width: 12px;
  height: 16px;
  background: url(/imgs/delete.png) no-repeat;
  background-size: 12px;
  margin-right: 5px;
}

#map {
  height: 50vh;
  width: auto;
  margin: 5rem;
  border: 2px solid black;
  border-radius: 5px;
}

#modal {
  position: relative;
  z-index: 1000;
}

.leaflet-control-attribution,
.leaflet-control-scale-line {
  opacity: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
/* HEADER */

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #01009a;
  padding-top: 15px;
}

#img1 > img {
  width: 300px;
  transform: rotate(3deg);
}

/* ITEM LIST */

/* map footer */
.map-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 8px;
  background-color: #01009a;
}

#dropdown-date {
  font-size: 1.1rem;
  padding: 1px;
  outline: none;
}

/* total number of crimes */
#number {
  font-size: 1.5em;
  padding-left: 5px;
  background-color: #01009a;
  color: white;
  height: 30px;
}
/* latest 10 crimes */
#latest-10 {
  font-size: 1.5em;
  margin-top: 30px;
  margin-left: 5px;
  text-align: center;
}
/* list table */
#information {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: 20px;
}
#information > div:nth-child(odd) {
  background: #c1c1c1;
  transition: 0.3s;
}

#information > div:nth-child(even) {
  background: #f1f1f1;
  transition: 0.3s;
}

#information > div:hover {
  background: #97a4da;
  transition: 0.3s;
}

#information > div:first-child {
  background: #828282;
  cursor: default;
}

#information > div {
  display: grid;
  grid-template-areas: "categoryType streetName date";
  grid-template-columns: 300px 400px 150px;
  grid-template-rows: auto;
  justify-content: center;
  cursor: pointer;
}
.itemContainer > div {
  font-size: 1.2em;
}
.categoryType {
  grid-area: categoryType;
}
.streetName {
  grid-area: streetName;
}
.date {
  grid-area: date;
}

.crime-detail-view {
  display: grid;
  grid-template-areas: "detail";
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 700px;
  height: 540px;
  padding: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.7);
}

.crime-detail-view-chart {
  grid-area: chart;
  justify-self: center;
}

/* About Page */
.about-view {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  height: 500px;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.7);
}
.about-view > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-view a div h2 {
  color: #000;
}

.about-view a div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-div {
  border-radius: 100%;
  overflow: hidden;
}

.about-view div img {
  width: 180px;
  height: auto;
}

.github-link {
  font-size: 2.5rem;
  text-decoration: none;
  color: #000;
}

#button-about {
  border: 0.12em solid #c1c1c1;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: #c1c1c1;
  background-color: #01009a;
  text-align: center;
  font-size: 24px;
  outline: none;
  text-shadow: 1px 1px 2px #000;
  border-radius: 7px;
}
#button-about:hover {
  border-color: #a9a9a9;
  color: #a9a9a9;
}
#button-about:active {
  color: #8f8f8f;
  border-color: #8f8f8f;
}

/* High Chart */
#high-chart {
  width: auto;
  height: 750px;
}
