html,
body {
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

label::after {
  content: ":";
}

ul#bucket-list {
  list-style-type: none;
  padding-left: 0;
}

li.bucket-list-item {
  padding: 0.25em;
}

li.bucket-list-item.completed {
  text-decoration-line: line-through;
  text-decoration-color: #00b300;
}

button.delete {
  border: none;
  width: 12px;
  height: 16px;
  background: url(/imgs/delete.png) no-repeat;
  background-size: 12px;
  margin-right: 5px;
}

#map {
  height: 500px;
  width: 100%;
}

#modal {
  position: relative;
  z-index: 1000;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
/* HEADER */

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #01009a;
}

#img1 > img {
  width: 300px;
  margin-left: 10px;
  margin-top: 10px;
}
#img2 > img {
  margin-left: 20px;
  margin-top: 35px;
}

/* ITEM LIST */

/* total number of crimes */
#number {
  font-size: 1.5em;
  padding-left: 5px;
  background-color: #01009a;
  color: white;
  height: 30px;
}
/* latest 10 crimes */
#latest-10 {
  font-size: 1.2em;
  margin-top: 30px;
  margin-left: 5px;
}
/* list table */
#information {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-left: 5px;
}
#information > div {
  display: grid;
  grid-template-areas: "categoryType streetName date";
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
}
.itemContainer > div {
  font-size: 1.2em;
}
.categoryType {
  grid-area: categoryType;
}
.streetName {
  grid-area: streetName;
}
.date {
  grid-area: date;
}
/* About Page */
.about-view {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  height: 500px;
  background: white;
}
.about-view > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-view div img {
  width: 180px;
  height: auto;
}

.github-link {
  font-size: 2.5rem;
}
